/*header-styles*/
header {
  background-color: #fecc00;
  text-align: center;
  padding-left: 2%;
  padding-right: 5%;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}
header h1 {
  margin-bottom: 1%;
}
header h2 {
  margin-top: 0%;
}